# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Operators and operands
## 7. Order of operations
## 8. String operations
## 9. Asking the user for input
## 10. Type Casting
## 11. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [13]:
print (1)

1

In [14]:
print(2.5)

2.5

In [15]:
print ("hello world")

hello world

In [16]:
print ('hello world')

hello world

In [17]:
# print two or more values using single statement
print (4,'hello')

4 hello

In [18]:
# print the name of your country
print("Pakistan")

Pakistan

In [19]:
# print your date of birth
print("May 27, 1998")
print("27/05/1998")

May 27, 1998
27/05/1998

In [20]:
# print your name, age and height using one print statement
name= "Azka"
age= 25
height = 5.4
print( name, age, height)

Azka 25 5.4

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [21]:
type(1)

int

In [22]:
type(2.5)

float

In [23]:
type("hello world")

str

In [25]:
# what will be the type of '5'
type('5')

str

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [26]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed" 
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [27]:
# to print the name you can use print statement
print (name)

Ahmed

In [28]:
# print the values of age and height
print(age, height)

20 3.5

In [30]:
# print all three values using single print statement
print(name, age, height)

Ahmed 20 3.5

In [31]:
# What will happen if you print 1 million using following statement
print(1,000,000)

1 0 0

In [35]:
score=70.5
#Pass it as a tuple:
print("Total score for %s is %s" % (name, score))

Total score for Ahmed is 70.5

In [41]:
#Pass it as a dictionary:
print("Total score for %(name)s is %(score)s" % {'name': name, 'score': score})

Total score for Ahmed is 70.5

In [43]:
#new style formatting(dispaly as it occurs after)
print("Total score for {} is {}".format(name, score))

Total score for 70.5 is 70.5

In [46]:
#Use new-style string formatting with numbers (useful for reordering or printing the same one multiple times):
print("Total score for {1} is {0}".format(score,name))

Total score for Ahmed is 70.5

In [48]:
#Use new-style string formatting with explicit names:
print("Total score for {n} is {s}".format( s=score, n=name))

Total score for Ahmed is 70.5

In [52]:
#concatenate string
print("Total score for " + (name) + " is " + str(score))

Total score for Ahmed is 70.5

In [56]:
##########   easiest  #############
#Just pass the values as parameters:
print("Total score for", name, "is", score)

#If you don't want spaces to be inserted automatically by print in the above example, change the sep parameter:

print("Total score for", name, "is ", score)
print("Total score for", name, "is ", score,sep='')

#Use the new f-string formatting in Python 3.6:
print(f'Total score for {name} is {score}')

Total score for Ahmed is 70.5
Total score for Ahmed is  70.5
Total score forAhmedis 70.5
Total score for Ahmed is 70.5

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unles
we are writing library code for others to use.

In [60]:
#what will happen
#47name = 'Pakistan'    # should begin with letter
#name@ = 'Pakistan'     # @ not allowed
#class = 'Pakistan'     # class is a reserved word
myname = 'kamran'

It turns out that class is one of Pythonâ€™s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Operators and operands

        Basic Arithematic operators:

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [63]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)

52 2 20 2.0 25 3

In [66]:
print(5//2,5/2)     # Floor division (integer division = //)

2 2.5

In [64]:
# print 200+323-433

In [44]:
# print (2+1)*(8-6)

Logical Operators( not (negating a condition) , and (True and True only gives True) , or(One True leads to True)

Bitwise Operators 
(Bitwise OR (|) / Bitwise AND (&) / Bitwise Left shift (<<) / Bitwise Right Shift (>>))

In [72]:
# Bitwise OR... compute at binary level same function as OR gate
a=2
b=2|3
b1=2|1
b2 = 4|2
print(b, b1, b2, type(b))

3 3 6 <class 'int'>

In [74]:
# Bitwise AnD... compute at binary level same function as AND gate
a=2
b= 2&1
b1=4&2
b2= 6&2
print(b, b1, b2, type(b1))

0 0 2 <class 'int'>

In [77]:
# Bitwise Left shift... compute at binary level same function as multiplied number by 2
a=3
b=a<<1   # left shift
b1= a << 2
print(a,b,b1,type(a),type(b))

3 6 12 <class 'int'> <class 'int'>

In [81]:
# Bitwise Right shift... compute at binary level same function as divide number by 2
a=5
b=a>>1   # Right shift
b1= a >> 3
print(a,b,b1,type(a),type(b))

5 2 0 <class 'int'> <class 'int'>

# 7. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [82]:
# write output of the following commands without excuting it
print (2*(3-1))  #4
print ((1+1)**(5-2)) #8
print (2**1+1) #3
print (3*1**3) #3

4
8
3
3

# 8. String operations

In [83]:
first = 10
second = 20
print (first + second)

30

In [84]:
first = '10'
second = '20'
print (first + second)

1020

In [85]:
print ("hello" * 3 )

hellohellohello

In [89]:
# print your name 10 times
name= 'Ali'
print(name*10)

AliAliAliAliAliAliAliAliAliAli

# 9. Asking the user for input

In [91]:
number = input("please enter number: ")
name = "kamran"
print (name * int(number))

please enter number: 5
kamrankamrankamrankamrankamran

In [94]:
# wirte a program which take age from user and concate it three time
age = (input("Enter age: "))
print(age*3)

Enter age: 3
333

# 10. Type Casting

In [95]:
a = '10'
print (a)

10

In [96]:
a * 3

'101010'

In [97]:
print (int(a) * 3)
a = 20
print (str(a) * 5)

30
2020202020

In [98]:
# take an interger from user and multiply it with 15
no = int(input("Enter the number : "))
print(no*15)

Enter the number : 3
45

# 11. Comments

In [103]:
# here is comments
# 
'''This is comment
 multiline comment'''

'This is comment\n multiline comment'

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.

Enter your name: Chuck
Hello Chuck

In [105]:
# python >3.0 doent support the raw_input()
name = input("Enter name! ")
print("Hello " + name)

Enter name! fatima
Hello fatima

Write a program to prompt the user for hours and rate per hour to
compute gross pay.

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

In [106]:
h = int(input("Enter hours: "))
r= float(input("Enter rate: "))
print("Pay: ", h*r)

Enter hours: 35
Enter rate: 2.75
Pay:  96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5

Use the Python interpreter to check your answers.

In [109]:
width = 17
height = 12.0

print("1) value: ", width/2 , " type: ", type( width/2 ))
print("2) value: ", width/2.0 , " type: ", type( width/2.0 ))
print("3) value: ", height/3 , " type: ", type(height/3 ))
print("4) value: ", 1 + 2 * 5 , " type: ", type(1 + 2 * 5 ))

1) value:  8.5  type:  <class 'float'>
1) value:  8.5  type:  <class 'float'>
1) value:  4.0  type:  <class 'float'>
1) value:  11  type:  <class 'int'>

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.